/*
 |--------------------------------------------------------------------------
 | Application's base styles
 |--------------------------------------------------------------------------
 */

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 * https://github.com/laravel-frontend-presets/tall/issues/7
 */

input:invalid,
textarea:invalid,
select:invalid {
	box-shadow: none;
}

/**
 * Hide elements with the x-cloak directive from Alpine.
 */

[x-cloak] {
	display: none;
}
